{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_header %}
    <h1>Welcome!</h1>
{% endblock content_header %}

{% block main %}
    <p>This is the Shor.tr admin, you can do almost everything you want!.</p>
{% endblock %}