{% extends "base.html.twig" %}

{% block title %}<title>Shor.tr - URL shortener</title>{% endblock title %}

{% block content %}

    <h1 class="cover-heading">Shor.tr</h1>
    <p class="lead">Awesome URL shortener</p>

{% endblock content %}